@import 'tailwindcss';

:root {
  --main-animation-time: 0.5s
}

/* styles.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.top-bg {
  background-image: url('public/app-background.png');
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
}

@media (min-width: 640px) { /* small screens */
  .top-bg { width: 412px; }
}


.element {
  background-image: url('public/frieren_sprite_sheet.png');
  width: 89px;
  height: 100px;
  background-size: 700px 105px;
}

.animate {
  animation: attack var(--main-animation-time) steps(8);
  animation-iteration-count: 1; /* play once */
}

.beam {
  background-image: url('/beam-sprite.png');
  width: 50px;
  height: 100px;
  opacity: 0;
  background-size: 700px 105px;
}

.animate-beam {
  opacity: 1;
  animation: shoot var(--main-animation-time) linear forwards;
  animation-iteration-count: 1; /* play once */
}

.slime {
  background-image: url('public/slime-sprite-sheet-impact.png');
  width: 89px;
  height: 100px;
  background-size: 700px 105px;
}

.animate-slime {
  animation: hurt var(--main-animation-time) steps(6);
  animation-iteration-count: 1; /* play once */
}

@keyframes attack {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700px 0;
  }
}

@keyframes shoot {
  from {
    background-position: 0 0;
    transform: translateX(-150%);
  }
  to {
    transform: translateX(300%);
    background-position: -700px 0;
  }
}


@keyframes hurt {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700px 0;
  }
}
