@import 'tailwindcss';
/* styles.css */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.top-bg {
  background-image: url('public/app-background.png');
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
}

.element {
  background-image: url('public/frieren_sprite_sheet.png');
  width: 89px;
  height: 100px;
  background-size: 700px 105px;
}

.animate {
  animation: attack 0.8s steps(8);
  animation-iteration-count: 1; /* play once */
}

@keyframes attack {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700px 0;
  }
}
